* {
  padding: 0;
  margin: 0;
}

input {
  outline: none;
}

@font-face {
  font-family: 'icomoon';
  src:    url('./fonts/icomoon.eot?d9twri');
  src:    url('./fonts/icomoon.eot?d9twri#iefix') format('embedded-opentype'),
  url('./fonts/icomoon.ttf?d9twri') format('truetype'),
  url('./fonts/icomoon.woff?d9twri') format('woff'),
  url('./fonts/icomoon.svg?d9twri#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-closed:before {
  content: "\e900";
}

.icon-arrow-closed2:before {
  content: "\e901";
}

.icon-arrow-left-purple:before {
  content: "\e902";
}

.icon-arrow-left-white:before {
  content: "\e903";
}

.icon-arrow-opened:before {
  content: "\e904";
}

.icon-barcode:before {
  content: "\e905";
}

.icon-calendar:before {
  content: "\e906";
}

.icon-empty:before {
  content: "\e90a";
}

.icon-failed-red:before {
  content: "\e90b";
}

.icon-pass-green:before {
  content: "\e90c";
}

.icon-pdf:before {
  content: "\e90d";
}

.icon-search:before {
  content: "\e90e";
  color: #A6A6A6;
  font-size: 15px;
  cursor: pointer;
}

.icon-selected:before {
  content: "\e90f";
}

.icon-triangle-big:before {
  content: "\e910";
}

.icon-triangle-blue:before {
  content: "\e911";
  font-size: 12px;
  color: #7C6AB0;
  cursor: pointer;
}

.icon-triangle-small:before {
  content: "\e912";
}

body {
  background-color: #F7F7F7;
}

.app-container {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  font-family: Lato;

  nav[role="navigation"] {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    font-size: 18px;
    height: 80px;
    justify-content: space-between;
    a {
      display: inline-block;
      height: 20px;
      padding: 28px 13.5px 32px 13.5px;

      &.active {
        background-color: #F7F7F7;
      }

      &.logo {
        order: -1;
        text-align: center;
        cursor: pointer;
        margin-left: 27px;
      }

      &.user-logo {
        text-align: center;
        margin-right: 8px;
        height: 50px;

        .user-photo {
          width: 50px;
          height: 50px;
          display: inline-block;
          vertical-align: top;
          border-radius: 50%;
          background-color: black; //removed
        }
        .user-description {
          display: inline-block;
          vertical-align: top;
          height: 46px;
          margin: 2px 0 2px 14px;
          text-align: left;
          .user-name {
            min-width: 127px;
            height: 25px;
            line-height: 25px;
            color: #7C6AB0;
            white-space: nowrap;
          }
          .user-status {
            height: 25px;
            font-size: 14px;
            line-height: 25px;
            color: #6D6D6D;
          }
        }
        .triangle-container {
          display: inline-block;
          vertical-align: middle;
        }
      }

      label {
        text-align: center;
        text-transform: uppercase;
        line-height: 20px;
        color: #462D91;
        cursor: pointer;
      }
    }
  }
}

.left-menu-item-container {
  width: 220px;
  height: 40px;
  font-family: Lato;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .counter-container {
    width: 21px;
    height: 21px;
    background-color: #CBCBCB;
    border-radius: 50%;
    margin: 10px 10px 9px 0;

    .counter {
      color: #FFFFFF;
      font-weight: bold;
      line-height: 15px;
      font-size: 12px;
      padding: 3px 7px;
    }
  }

  &.active {
    background-color: #FFFFFF;
    .counter-container {
      background-color: #06B4A0;
    }
  }

  .title {
    min-height: 25px;
    font-size: 15px;
    line-height: 25px;
    color: #4A4A4A;
    display: inline-block;
    margin: 6px 0 9px 10px;
  }

}

.search-container {
  box-sizing: border-box;
  width: 197px;
  height: 37px;
  border: 1px solid #ACACAC;
  border-radius: 100px;
  .search-by-id {
    border: none;
    background-color: #F7F7F7;
    min-width: 91px;
    max-width: 147px;
    height: 24px;
    font-family: "Lucida Grande";
    font-size: 15px;
    line-height: 25px;
    color: #A6A6A6;
    margin: 6px 0 4.5px 18.5px;
  }
  .search-icon-container {
    margin: 9.5px 13.5px 2.5px 0;
    width: 14px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
  }
}

.add-order-button {
  width: 196px;
  height: 36px;
  background-color: #F36F3E;
  border-radius: 100px;
  cursor: pointer;
  .label-button {
    height: 20px;
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 9px 0 7px 0;
  }
}
