* {
  padding: 0;
  margin: 0;
}

input, select {
  outline: none;
}

@font-face {
  font-family: 'icomoon';
  src:    url('./fonts/icomoon.eot?d9twri');
  src:    url('./fonts/icomoon.eot?d9twri#iefix') format('embedded-opentype'),
  url('./fonts/icomoon.ttf?d9twri') format('truetype'),
  url('./fonts/icomoon.woff?d9twri') format('woff'),
  url('./fonts/icomoon.svg?d9twri#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-closed:before {
  content: "\e900";
}

.icon-arrow-closed2:before {
  content: "\e901";
}

.icon-arrow-opened:before {
  content: "\e904";
}

.icon-barcode:before {
  content: "\e905";
}

.icon-calendar:before {
  content: "\e906";
}

.icon-doc-green:before {
  content: "\e908";
  font-size: 26px;
  color: #06B4A0;
}

.icon-edit-green:before {
  content: "\e909";
}

.icon-empty:before {
  content: "\e90a";
}

.icon-pdf:before {
  content: "\e90d";
}

.icon-search:before {
  content: "\e90e";
  color: #A6A6A6;
  font-size: 15px;
  cursor: pointer;
}

.icon-selected:before {
  content: "\e90f";
}

.icon-triangle-big:before {
  content: "\e910";
}

.icon-triangle-blue:before {
  content: "\e911";
  font-size: 12px;
  color: #7C6AB0;
  cursor: pointer;
}

.icon-triangle-small:before {
  content: "\e912";
}

.icon-cross:before {
  content: "\ea0f";
  color: #D8D8D8;
  font-size: 12px;
  cursor: pointer;
}

.icon-checkmark:before {
  content: "\ea10";
}

.icon-arrow-left2:before {
  content: "\ea40";
  color: #462D91;
  font-size: 15px;
}

.default-input {
  width: 279px;
  height: 23px;
  background-color: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  padding: 7px 0 8px 19px;
}

.default-select {
  width: 300px;
  height: 40px;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  padding: 3px 0 12px 16px;
  background: url('/assets/select_icon.png') no-repeat right #4A4A4A;
  background-position-x: calc(100% - 16px);
  background-color: #FFFFFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-container {
  cursor: pointer;
  & > div {
    display: inline-block;
    vertical-align: middle;
  }
}

.default-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #D9D9D9;
  &.checked {
    background: url('/assets/checkbox_icon_selected.png') no-repeat center #FFFFFF;
  }
  background-color: #FFFFFF;
}

.default-checkbox-label {
  margin-left: 14px;
}

.hide {
  display: none !important;
}

body {
  background-color: #F7F7F7;
}

.app-container {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  font-family: Lato;

  nav[role="navigation"] {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    font-size: 18px;
    height: 80px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    a {
      display: inline-block;
      height: 20px;
      padding: 28px 13.5px 32px 13.5px;

      &.active {
        background-color: #F7F7F7;
      }

      &.logo {
        order: -1;
        text-align: center;
        cursor: pointer;
        margin-left: 27px;
      }

      &.user-logo {
        text-align: center;
        margin-right: 8px;
        height: 50px;

        .user-photo {
          width: 50px;
          height: 50px;
          display: inline-block;
          vertical-align: top;
          border-radius: 50%;
          background-color: black; //removed
        }
        .user-description {
          display: inline-block;
          vertical-align: top;
          height: 46px;
          margin: 2px 0 2px 14px;
          text-align: left;
          .user-name {
            min-width: 127px;
            height: 25px;
            line-height: 25px;
            color: #7C6AB0;
            white-space: nowrap;
          }
          .user-status {
            height: 25px;
            font-size: 14px;
            line-height: 25px;
            color: #6D6D6D;
          }
        }
        .triangle-container {
          display: inline-block;
          vertical-align: middle;
        }
      }

      label {
        text-align: center;
        text-transform: uppercase;
        line-height: 20px;
        color: #462D91;
        cursor: pointer;
      }
    }
  }
}

.page-container {
  height: calc(100% - 80px);
}

.left-menu-item-container {
  width: 220px;
  height: 40px;
  font-family: Lato;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  cursor: pointer;

  .counter-container {
    width: 21px;
    height: 21px;
    background-color: #CBCBCB;
    border-radius: 50%;
    margin: 10px 10px 9px 0;

    .counter {
      color: #FFFFFF;
      font-weight: bold;
      line-height: 15px;
      font-size: 12px;
      padding: 3px 7px;
    }
  }

  &.active {
    background-color: #FFFFFF;
    .counter-container {
      background-color: #06B4A0;
    }
  }

  .title {
    min-height: 25px;
    font-size: 15px;
    line-height: 25px;
    color: #4A4A4A;
    display: inline-block;
    margin: 6px 0 9px 10px;
  }

}

.search-container {
  box-sizing: border-box;
  width: 197px;
  height: 37px;
  border: 1px solid #ACACAC;
  border-radius: 100px;
  position: relative;
  .search-by-id {
    border: none;
    background-color: #F7F7F7;
    min-width: 91px;
    max-width: 147px;
    height: 24px;
    font-family: "Lucida Grande";
    font-size: 15px;
    line-height: 25px;
    color: #A6A6A6;
    margin: 6px 0 4.5px 18.5px;

    &:focus~div.popover {
      display: block;
    }
  }
  .search-icon-container {
    margin: 9.5px 13.5px 2.5px 0;
    width: 14px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
  }
  .popover {
    position: absolute;
    width: 196px;
    height: 62px;
    background-color: #E4E5EC;
    margin-top: 3.5px;
    display: none;
    .text {
      padding: 14px 40px 16px 19px;
      font-family: Lato;
      font-size: 14px;
      font-style: italic;
      line-height: 16px;
      color: #929292;
    }
  }
}

.add-order-button {
  width: 196px;
  height: 36px;
  background-color: #F36F3E;
  border-radius: 100px;
  cursor: pointer;
}

.label-button {
  height: 20px;
  font-family: Lato;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 9px 0 7px 0;
}

.order-container {
  margin: 0 auto;
  max-width: 1000px;
  .back-container {
    margin: 24px 0 14px 0;
    height: 18px;
    .icon-arrow-container {
      display: inline-block;
      cursor: pointer;
      vertical-align: middle;
    }
    .back {
      font-family: Lato;
      font-size: 15px;
      font-weight: bold;
      line-height: 18px;
      color: #462D91;
      display: inline-block;
      cursor: pointer;
      vertical-align: middle;
    }
  }
  .column-form {
    &:last-child {
      margin-right: 104px;
    }
    .container-field {
      font-family: Lato;
      margin-top: 16px;
      width: 300px;
      label {
        display: block;
        height: 25px;
        font-size: 15px;
        line-height: 25px;
        color: #4A4A4A;
      }
    }
  }
  .header-container {
    width: 100%;
    height: 79px;
    background-color: #472E92;
    .header {
      padding: 25px 0 29px 80px;
      font-family: Lato;
      font-size: 20px;
      line-height: 25px;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }
  .order-form-container {
    background-color: #FFFFFF;
    border-radius: 2px;
    .person-first {
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      margin-top: 21px;
      padding-top: 20px;
      padding-bottom: 40px;
      font-family: Lato;
      & > div {
        display: inline-block;
      }
      .person-title {
        margin-top: 11px;
        width: 196px;
        text-align: center;
        height: 20px;
        font-size: 20px;
        line-height: 20px;
        color: #462B90;
      }
    }

    .share-checkbox-container {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      padding-bottom: 5px;
      .empty-block {
        width: calc(50% - 254px);
        display: inline-block;
      }
    }

    .physician-info-container {
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      align-items: center;
      padding-bottom: 37px;
      & > div {
        display: inline-block;
      }
      .empty-block {
        width: 196px;
        display: inline-block;
      }
    }

    .address-delivering-container {
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      margin: 0 14px;
      padding-bottom: 27px;
      background-color: #F7F6F6;
      & > div {
        display: inline-block;
      }
      .column-form:last-child {
        margin-right: 90px;
      }
      .address-delivering-title {
        padding: 19px 0 0 66px;
        width: 123px;
        height: 44px;
        font-size: 15px;
        line-height: 22px;
        color: #4A4A4A;
      }
    }

    .requisition-container {
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      padding: 17px 0 36px 0;
      & > div {
        display: inline-block;
      }
      .requisition-title {
        padding-left: 81px;
        padding-top: 16px;
        width: 123px;
        height: 44px;
        font-family: Lato;
        font-size: 15px;
        line-height: 22px;
        color: #4A4A4A;
      }
      .column-form {
        label {
          text-align: right;
          padding-top: 8px
        }
        .upload-button {
          width: 147px;
          height: 36px;
          background-color: #D9D9D9;
          border-radius: 100px;
          display: inline-block;
          cursor: pointer;
          & > div {
            cursor: pointer;
            position: relative;
          }
        }
      }
    }
  }

  .add-person-container {
    width: 100%;
    height: 65px;
    margin: 20px 0;
    background-color: #FFFFFF;
    border-radius: 2px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    .add-person-link {
      margin: 0 auto;
      height: 21px;
      font-family: "Helvetica Neue";
      font-size: 18px;
      text-align: center;
      line-height: 20px;
      color: #472E92;
      cursor: pointer;
    }
  }

  .send-package-container {
    width: 100%;
    height: 126px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding-top: 10px;
    background-color: #E4E5EC;
    margin-bottom: 20px;
    .title {
      width: 117px;
      height: 75px;
      padding: 12px 0 0 81px;
      font-family: Lato;
      font-size: 15px;
      line-height: 25px;
      color: #4A4A4A;
    }
    .description {
      width: 300px;
      height: 75px;
      padding-top: 10px;
      font-family: Lato;
      font-size: 15px;
      line-height: 25px;
      color: #4A4A4A;
      & > div {
        font-weight: bold;
      }
    }
  }

  .submit-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    padding-bottom: 44px;
  }
}

.submit-button {
  width: 174px;
  height: 36px;
  background-color: #F36F3E;
  border-radius: 100px;
  cursor: pointer;
}

.order-list-container {
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  & > div {
    display: inline-block;
    vertical-align: top;
  }
  .order-left-menu {
    width: 250px;
    padding-top: 32px;
    .add-order-button {
      margin: 0 auto;
    }
    .left-menu-container {
      margin-top: 67px;
      & > div {
        margin: 0 auto;
      }
    }
  }
  .order-list {
    width: calc(100% - 250px);
    .header {
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      align-items: flex-end;
      height: 38.5px;
      padding: 15.5px 22.5px 0 39px;
      .column {
        height: 18px;
        font-family: Lato;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        color: #B0B0B0;
      }
    }
    .list-container {
      margin: 15px 10px 0 0;
      background-color: #FFFFFF;
      padding: 12px 13px 0 29px;
      border: 1px solid #F0F0F0;
      height: calc(100% - 99px);
      .order-row {
        border-top: 1px #D8D8D8 solid;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: center;
        height: 59px;
        font-family: Lato;
        font-size: 15px;
        line-height: 25px;
        color: #4A4A4A;
        .order-id {
          margin-left: 10px;
        }
        .details {
          min-width: 197px;
          text-align: center;
        }
        .order-name, .details {
          color: #06B4A0;
          text-decoration: underline;
        }
      }
    }
  }
}

.button-file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  font-size: 0;
}

.uploaded-file-container {
  width: 300px;
  display: flex;
  display: -webkit-flex;
  & > div {
    display: inline-block;
    vertical-align: middle;
  }
  .title {
    height: 25px;
    font-family: Lato;
    font-size: 15px;
    line-height: 25px;
    color: #00B6A0;
    margin-left: 13px;
    width: 247px;
    margin-right: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .close-icon-container {
    padding-top: 3px;
  }
}

.order-box {
  width: 120px;
  height: 32px;
  background-color: #FFFFFF;
  border: 1px solid #EBEBEB;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  .title {
    font-family: Lato;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    color: #472F91;
    margin: 0 auto;
  }
}

.accession-sample-container {
  width: 100%;
  height: 143px;
  background-color: #F7F6F6;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: 12px 20px 20px 11px;
  box-sizing: border-box;
  & > div {
    display: inline-block;
  }
  .order-info-container{
    .header {
      height: 25px;
      font-family: Lato;
      font-size: 18px;
      font-weight: bold;
      line-height: 25px;
      color: #4A4A4A;
    }
    .description {
      .field {
        & > div {
          display: inline-block;
          vertical-align: middle;
          height: 25px;
        }
        font-family: Lato;
        font-size: 15px;
        line-height: 25px;
        color: #4A4A4A;
        .title {
          width: 117px;
          opacity: 0.5;
          text-align: left;
        }
      ;
      }
    }
  }
  .button-container {
    padding-top: 75px;
  }
}

.accession-button {
  width: 132px;
  height: 36px;
  background-color: #F36F3E;
  border-radius: 100px;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(208, 208, 208, 0.19);
  visibility: hidden;
  opacity: 0;
  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.popup-content {}

.check-sample-container {
  width: 562px;
  height: 266px;
  margin: calc(50vh - 206px) auto;
  background-color: #FFFFFF;
  position: relative;
  padding: 76px 0 71px 0;
  .close-icon-container {
    position: absolute;
    top: 17px;
    right: 17px;
  }
  .title {
    margin: 0 auto;
    width: 271px;
    height: 25px;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    color: #4A4A4A;
  }
  .choose-attribute-container {
    margin-top: 21px;
    text-align: center;
    & > div {
      width: 155px;
      height: 28px;
      background-color: #FFFFFF;
      border: 1px solid #DCDCDC;
      border-radius: 3px;
      display: inline-block;
      padding-top: 10px;
      cursor: pointer;
    }
  }
  .submit-button {
    width: 132px;
    margin: 20px auto 0;
  }
}